<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309557428741-lj40n8i0tf0no29g5elir36sslpoe01k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309557428741-lj40n8i0tf0no29g5elir36sslpoe01k</string>
	<key>API_KEY</key>
	<string>AIzaSyB1b5T_4raZhhEN_87gPjZQq_Xpeq5VLps</string>
	<key>GCM_SENDER_ID</key>
	<string>309557428741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atSave</string>
	<key>PROJECT_ID</key>
	<string>atsave-29469</string>
	<key>STORAGE_BUCKET</key>
	<string>atsave-29469.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309557428741:ios:a484a553a7cd88e7e3526c</string>
</dict>
</plist>